@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rock+Salt|Shadows+Into+Light|Cedarville+Cursive');
body{
  font-family: 'Monospace', cursive;
}
.btn .fas {
    vertical-align: inherit;
    margin-top: -3px;
    font-size: 1.15rem;
  }
  .navbar-brand h2{
    color: #071330;
  }
  .navbar-brand span{
    color:#cb5959
  }
  .form-control {
    height: calc(2.5rem + 2px);
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
  
  .btn {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
  }
  
  .fas.icon-single {
    font-size: 1.5rem;
  }
  
  .form-inline .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .form-inline .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .form-inline .form-control {
      width: 210px;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .form-inline .form-control {
      width: 440px;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .form-inline .form-control {
      width: 600px;
    }
  } 
  
  .sub-menu.navbar-light .navbar-nav .active > .nav-link,
  .sub-menu.navbar-light .navbar-nav .nav-link.active,
  .sub-menu.navbar-light .navbar-nav .nav-link.show,
  .sub-menu.navbar-light .navbar-nav .show > .nav-link {
    border-bottom: 3px solid #cb5959;;
    color: #071330;

    
  }
  .sub-menu.navbar-light .navbar-nav .nav-link{
    color:#6b6b6b;
  
  }
 
  .navbar .navbar-toggler {
    border: none;
  }
  
  .navbar-light .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar {
    padding: 1rem;
  }
  
  .main-menu {
    position: relative;
    z-index: 3;
  }
  
  .sub-menu {
    position: relative;
    z-index: 2;
    padding: 0 1rem;
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    .sub-menu {
      padding: 0 1rem;
    }
  
    .sub-menu.navbar-expand-md .navbar-nav .nav-link {
      padding: 1rem 1.5rem;
    }
  }
  
  .navbar.bg-light {
    background: wheat !important;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  
  .user-dropdown .nav-link {
    padding: 0.15rem 0;
  }
  
  #sidebar {
    background: #fff;
    height: 100%;
    left: -100%;
    top: 0;
    bottom: 0;
    overflow: auto;
    position: fixed;
    transition: 0.4s ease-in-out;
    width: 84%;
    z-index: 5001;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding: 1.25rem 1rem 1rem;
  }
  
  #sidebar.active {
    left: 0;
  }
  
  #sidebar .sidebar-header {
    background: #fff;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 1.5rem;
  }
  
  #sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 40px;
  }
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  #sidebar ul li a {
    padding: 10px 16px;
    font-size: 1.1em;
    display: block;
    color: #000;
  }
  
  #sidebar ul li a:hover {
    color: #cb5959;
  
  }
  #sidebar ul li  .active{
    color: white;
    background: #cb5959;
  }
  #sidebar ul li.active > a,
  #sidebar a[aria-expanded="true"] {
    color: #cb5959;
    background: red;
    border-radius: 6px;
  }
  
  a[data-toggle="collapse"] {
    position: relative;
  }
  
  #sidebar .links .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
  
  section {
    padding: 6rem;
    background: #e4e4e4;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: -1;
    width: 100%;
    opacity: 0;
  }
  
  .overlay.visible {
    opacity: 1;
    z-index: 5000;
  }
  
  /* .mobiHeader .menuActive~.overlay {
      opacity: 1;
      width: 100%;
  } */
  
  ul.social-icons {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  ul.social-icons li {
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 0;
  }
  
  #sidebar ul.social-icons li a {
    font-size: 24px;
  }
  
  .utility-nav {
    background: rgb(247, 243, 243);
    padding: 0.5rem 1rem;
  }
  
  .utility-nav p {
    margin-bottom: 0;
  }
  
  .search-bar {
    background-color: wheat;
    position: relative;
    z-index: 2;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.1);
  }
  
  .search-bar .form-control {
    width: calc(100% - 45px);
  }
  
  .avatar {
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 8px;
  }
  
  .avatar.avatar-xs {
    width: 2.25rem;
    height: 2.25rem;
  }
  
  .user-dropdown .dropdown-menu {
    left: auto;
    right: 0;
  }

  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height:70vh;
  }
.search-btn{
  border-radius: 0;
  background-color: #cb5959;
  color:white;
}
.text-search{
  border-radius: 0;
}
.btn-login{
  background-color: #cb5959;
  color:white
}
.badge-danger{
  background-color: #cb5959;
}
.fa-shopping-cart{
  color: #071330;
}

.title-sell {
  display: grid;
  width: 100%;
  align-items: center;
  text-align: center;
  grid-template-columns: minmax(20px, 1fr) auto minmax(20px, 1fr);
  grid-gap: 20px;
  margin: 30px 0;
  color: #071330;
  font-family: 'Open Sans', cursive;
  font-style: italic;

}

.title-sell:before,
.title-sell:after {
  content: '';
  border-top: 3px solid #cb5959;
}
.img-prod{
  width:100vh;
  height: 40vh;
  border-radius: 20px;
}
.img-prod:hover{
 filter: brightness(50%);
}
.more-product{
  
  color:#cb5959;
  font-size:1.2rem
}
.more-product:hover{
  text-decoration: none;color: #071330;
}

.height-100 {
  height: 100vh
}
.card {
  width: 100%;
  border: none;
  height: 250px;
  max-width: 380px;
  overflow: hidden;
  position: relative;
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: all ease 0.4s
}

.card img {
  transition: all ease 0.4s;

}
.btn-cart{
  background-color:#cb5959;
  color: white;
}

.card:hover img {
  margin-top: -80px
}

.card .content {
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: -60%;
  margin-left: -8px;
  transition: all ease 0.5s;
  border-radius: 4px;
  box-shadow: 0px -3px 4px rgba(10, 10, 10, 0.09)
}

.card .content .category {
  font-size: 17px;
  font-weight: 600;
  color:#071330;
}

.card .content .price {
  font-size: 17px;
  font-weight: 500;
  color:  #cb5959
}

.card .content p {
  font-weight: 500;
  font-size: 12px
}

.card:hover .content {
  bottom: 0%
}

.buttons button {
  border-radius: 1px;
  margin-bottom: 10px;
  transition: all ease 0.3s
}

.content {
  padding: 10px
}
.btn-outline{
  border: 2px solid #cb5959;
  color: #cb5959;
}
.btn-outline:hover{
  background-color:#cb5959 ;
  color: white;
}

.form-control:focus {
  border-color: #cb5959;
  box-shadow: 0 0 0 0.2rem rgba(203, 89, 89, 0.25)  ;
} 

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);



section {
  width: 100%;
  display: inline-block;
  
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  background-color: wheat !important;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  font-family: 'Open Sans', cursive;
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #071330;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #cb5959;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #071330;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #071330;
  color: #cb5959;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope i.fa-phone{
	font-size: 17px;
	line-height: 38px;
  color: #cb5959;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #cb5959;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #cb5959;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
  font-family: 'Open Sans', cursive;
	line-height: 20px;
	color:  #cb5959;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #071330;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
  
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #071330;
	border-radius: 2px;
	font-size: 20px;
	color: #cb5959;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.name-link{
  color: #071330;
}
.name-link:hover{
  color: #cb5959;
  text-decoration: none;
}
.txt-link{
  font-size: 0.8rem;
  font-family: 'Open Sans', cursive;
  color: #071330;
}


#button {
  display: inline-block;
  background-color: #cb5959;
  width:7vh;
  height: 7vh;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f1fd ";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height:7vh;
  color: #fff;
}
#button:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #071330;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
.about-section-box img{
  width: 100%;
  height:35vh;
}
@media (max-width: 576px) {
  .inner-column h1{
    font-size: 1.6em;
  }
  .inner-column p{
    font-size: 1rem;
  }
}
.inner-column span{
  color:#cb5959;
 }
.inner-column p,h1{
 color: #071330;
}

/*------------------------------------------------------------------
    Contact
-------------------------------------------------------------------*/
.contact-imfo-box{
	background:wheat;
	padding: 30px 0;
}
.contact-imfo-box i{
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #cb5959;
	color: white;
	font-size: 1.6rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	margin-right: 20px;
}
.contact-imfo-box h4 {
    margin: 0px;
    margin-top: 5px;
	color: #071330;
	font-size: 1.5rem;
	padding: 0px;
	font-weight: 500;
	line-height: 24px;
}
.contact-imfo-box p {
  font-size:1rem;
    margin: 0px;
	color: #071330;
	font-weight: 300;
}
.overflow-hidden {
  overflow: hidden;
}


/*------------------------------------------------------------------
    Footer
-------------------------------------------------------------------*/

.footer-area{
	padding-top: 50px;
	padding-bottom: 0px;
}
.bg-f{
	background-image: url("../cakes/IMG-20210913-WA0265.jpg");
	background-attachment: scroll;
	background-clip: initial;
	background-color: rgba(0, 0, 0, 0);
	background-origin: initial;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.bg-f::before {
    background: #010101;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
	opacity: 0.8;
}

.footer-area .container{
	position: relative;
	z-index: 1;
}
.footer-area h3{
	color: #ffffff;
	text-transform: uppercase;
	font-size: 24px;
	border-bottom: 1px solid #cb5959;
	margin-bottom: 10px;
}
.footer-area p{
	font-size: 15px;
	color: rgba(255, 255, 255, 0.8);
	margin: 0;
	padding-bottom: 10px;
}

.footer-area p.lead{
	font-size: 15px;
  color: rgba(255, 255, 255, 0.8);

}
.footer-area p.lead a{
  color: rgba(255, 255, 255, 0.8);
	margin-bottom: 15px;
}
.footer-area p.lead a:hover{
	color: #d0a772;
}
.footer-area p a{
	font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
.footer-area p a:hover{
	color: #d0a772;
}

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form .form_input {
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    border: none;
    font-size: 19px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit {
    background-color: #d0a772;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 100%;
	border: none;
	cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.subscribe_form .submit:hover{
	background: #010101;
}

.f-social {
    padding-bottom: 10px;
    margin: 0px;
    margin-top: 20px;
}
.f-social li a {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.9);
	margin-right: 10px;
}

.copyright{
	margin-top: 15px;
	position: relative;
	display: block;
	background-color: wheat;
	border-top: 1px dashed rgba(207, 166, 113);
	padding: 10px 0;
	z-index: 1;

}

.copyright .company-name{
	font-size: 16px;
	text-align: center;
  color:#071330;
}
.copyright .company-name a{
	font-size: 16px;
  color: #cb5959;
  font-style: italic;
}
.copyright .company-name a:hover{
  color:#071330;
  text-decoration: none;
}


/*************  Contact Us ****************************/ 
.no-gutters {
  margin-right: 0;
  margin-left: 0; 
}
.no-gutters > .col,.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.contact-wrap {
background: wheat; 
}

.contactForm .label {
color: #071330;
text-transform: uppercase;
font-size: 12px;
font-weight: 600; 
}
    
.contactForm .form-control {
border: none;
}
.submitting {
float: left;
width: 100%;
padding: 10px 0;
display: none;
font-size: 16px;
font-weight: 500;
color: #2553b8; 
}
.align-items-stretch {
-webkit-box-align: stretch !important;
-ms-flex-align: stretch !important;
align-items: stretch !important; 
}      
#form-message-warning, #form-message-success {
  display: none;
}

iframe{
  width: 100%;height:100%
}


.signiture{
  font-weight: bolder;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 3rem;
}


.loggin-in img{
  width: 10rem;
}

.loggin-in  h3,p{
  color: #071330;
}
.loggin-in  a{
  color: #cb5959;
}
.loggin-in  a:hover{
  text-decoration: none;
}



/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


.notify{
  position: fixed;
  right: 1%;
  top: 5%;
  z-index: 10;
}
.lang img{
  width: 2rem;
  height: 1.2rem;
}
@media only screen and (max-width: 600px) {
  .notify{
    right: 10%;
    top: 5%;
  }
  .navbar-brand h2{
    font-size: 1.5rem;
  }
  .top-txt{
    font-size: 0.8rem;
  }
  .lang img{
    width: 1.5rem;
    height: 1.2rem;
  }
  

}

.link{
  color: #cb5959;
}
.link:hover{
  text-decoration: none;
}

.empty-cart img{
	width: 15rem;
  }
  .empty-cart  h3,p{
	  color: #33383b;
  }


input[type=radio]{
  cursor: pointer;
  accent-color: #cb5959;
}
.pointer{
  cursor: pointer;
}
